uvicorn
starlette
fastapi
pydantic
python-dotenv

# OpenTelemetry dependencies
opentelemetry-sdk
opentelemetry-distro
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-logging
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-flask
gunicorn
